body{
    background-image: url(img/Bakgrunn.jpg);
    position: fixed;
background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#front{width: 100%;
position: fixed;
z-index:0;
margin: 0;
left: 0;
right:  0;
top: 0;
bottom: 0;
opacity: 0.9;
color: white;
}
h1{

    
    
}

#Copyright{
right: 0;
bottom:0;
position: fixed;
z-index: 2;
font-size: 19;
margin-right: 15px;
color: dimgray;

}


#menu{
color: grey;
z-index: 2;
font-size: 40px;
list-style: none;
position: fixed;
font-style:normal;
top: 90%;
text-align: center;
margin: auto;
left: 0px;
right: 0px;

}
#Seokeywords{
    opacity: 0;
}

.knapp{
z-index: 2;
position: fixed;
left: 0;
top: 0;
height: 5%;
width: auto;
margin-left: 15px;
margin-top: 15px;
    
}
.knapp:hover{
background-color:  #70B62C;
}

ul#menu li {
    display:inline;
    margin: 15px;
    
}
#enter:hover{
    color: #70B62C;
}
#enter{
text-decoration: none;
text-decoration-line: none;
color: gray;
}