body{
    background-image: url(img/Bakgrunn.jpg);
background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


h1{

    
    
}

#Copyright{
right: 0;
bottom:0;
position: fixed;
z-index: 2;
font-size: 19;
margin-right: 15px;
color: dimgray;

}


#menu{
color: grey;
z-index: 2;
font-size: 40px;
list-style: none;
position: fixed;
font-style:normal;
top: 90%;
text-align: center;
margin: auto;
left: 0px;
right: 0px;
opacity: 1;
}


.knapp{
z-index: 2;
position: fixed;
left: 0;
top: 0;
height: 5%;
width: auto;
margin-left: 15px;
margin-top: 15px;
opacity: 1;
}
.knapp:hover{
background-color:  #70B62C;
}

ul#menu li {
    display:inline;
    margin: 15px;
  opacity: 1;  
}



/* tester ut checkbox for å få frem resten av siden*/


.wrapper {
  border:none;
    z-index: 3;
    
}

input[type=checkbox] {
display: none;
z-index: 3;
}
input[type=checkbox] ~ label {
  background:none;
  height: auto;
  color: darkgray;
width: 15%;
bottom: 6%;
position: fixed;
text-align: center;
margin: auto;
left: 0%;
right: 0%;
font-size: 30px;
}


/*Gjør landingssidem usynelig*/

input[type=checkbox]:checked ~ label ~ .content{ 
animation-name: Flytte_Hvit_Opp;
animation-duration: 0.4s;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: forwards;
animation-timing-function:ease-in;
}

@keyframes Flytte_Hvit_Opp{
    0%{ height: 100%;}
    100%{
    height: 0%;

    }
    
}




/* sørger for at resten av siden popper opp når man trykker på knappen */

input[type=checkbox]:checked ~ label ~ #omoss { 
display: block;
animation-name: go2;
animation-duration: 0.4s;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: forwards;
animation-timing-function:ease-in;
}

@keyframes go2{
    0%{ height: 0%;
    position: fixed}
    99%{height: 100%;
    position: fixed}
       100%{height: auto;
    position: relative;}
}

input[type=checkbox]:hover ~ label
{
color: grey;

}



/*Bildet av logoen med whit rundt*/
.content 
{
width: 100%;
height: 100%;
position: fixed;
background-attachment: fixed;
background-position: center;
background-size: cover;
opacity: 0.9;
background-color: none;
z-index: -1;
left: 0px;
top: 0px;
right: 0px;
margin: none;
background-image: url(img/Tribus_med_hvit.svg)
}

/*For å gjøre startknappen usynelig*/

input[type=checkbox]:checked ~ label
{
 
display: none;
}
 




/* Den er relativ slik at infoen vill komme opp automatisk etter at forsiden er borte*/
#omoss{
position: relative;
bottom: 0px;
background: white;
padding-left: 5%;
padding-right: 5%;
width: 600px;
height: auto;
z-index: 1; 
left: 0%;
right: 0px;
text-align: left;
margin-left: auto;
margin-right: auto;
display: none;
padding-bottom: 5%;

}

#tribuslogo{
top: 0px;
margin-left: 22%;
margin-right: 22%;
margin-top: 0px;
width: 50%;

}